<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express List</title>
  </head>
  <body>
    <h1>Product For Sale</h1>
    <%- include('../partials/navbar') %> 

    <div>
      <h2><%= product.type %> </h2>
      <p><%= product.price %> </p>
    </div>
    <img src="<%= product.image %>" alt="" />
    <a href="/users/<%= product.user.id %>"><%= product.user.userName %> </a>
    <p><%= product.condition %> </p>
  </body>
</html>