<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/p-show.css">
    <title>Express List</title>
  </head>
  <body>
    <h1 class="text-center">Product For Sale</h1>
    <%- include('../partials/navbar') %> 
    <%- include('../partials/searchbar') %> 

    <div class="row product-container justify-content-start">
      <div class="col">
        <div class="row">
          <p class="p-3 product-text"><%= product.type %> </>
          <p class="p-3 product-text"> $ <%= product.price %> </p>
        </div>
      <a class="product-text user-name-link" href="/users/<%= product.user.id %>"><%= product.user.userName %> </a>
    
      <img class="product-image" src="<%= product.image %>" alt="" />
      <p class="product-text"><%= product.condition %> </p>

      <form class="show-product-form" action="/products/<%= product.id %>?_method=DELETE" method="POST">
        <input class="btn mr-2" type="submit" value="Delete">
      </form>

      <form class="show-product-form" action="/products/<%= product.id %>/edit" method="GET">
        <input class="btn" type="submit" value="Update">
      </form>
    </div>
    </div>

    <%- include('../partials/footer') %> 
  </body>
</html>